body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 0;
}

.logo {
  width: 40px;
  height: 40px;
  padding: 10px 0;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 20px 0 22px;
}

.nav__link {
  white-space: nowrap;
  text-decoration: none;
  margin-left: 20px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 23px 0;
}

.nav__link:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
  position: relative;
  margin-left: 0;
}

.is-active::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background-color: #00acdc;
  border-radius: 8px;
}
